#ignore data
results/
config/mandatory_files/

workflow/genome_data_sets/
workflow/tmp/
workflow/.*
workflow/nohup*
workflow/protein_data_bases/
workflow/notebooks/Data_inspection/
workflow/notebooks/rules_notebooks/
workflow/Tb_part*
workflow/report/
workflow/git_repo_cloned/
workflow/snakemake_ortholog_groups-before_rules.yaml
workflow/eukaryota_odb*