#ignore data
results/
config/mandatory_files/*.pkl
config/mandatory_files/.ip*
config/.ip*
config/mandatory_files/fasta_*
config/mandatory_files/GenesBy*
config/mandatory_files/old*
.ipynb_checkpoints/

workflow/genome_data_sets/
workflow/tmp/
workflow/.*
workflow/nohup*
workflow/protein_data_bases/
workflow/notebooks/Data_inspection/
workflow/notebooks/rules_notebooks/
workflow/Tb_part*
workflow/report/
workflow/git_repo_cloned/
workflow/snakemake_ortholog_groups-before_rules.yaml
workflow/eukaryota_odb*
.ipynb_checkpoints/

workflow/notebooks/
workflow/rules/.ipynb_checkpoints/
workflow/rules/old_*
workflow/rules/snakemake*
workflow/rules/testing.smk

workflow/envs/.ipynb_checkpoints/
workflow/scripts/.ipynb_checkpoints/

workflow/scripts/rules_scripts/
workflow/scripts/old_*

workflow/notebooks/old*