#ignore data
workflow/genome_data_sets/
workflow/tmp/
workflow/.*
workflow/nohup*
results/
workflow/protein_data_bases/
config/mandatory_files/
workflow/notebooks/Data_inspection/
workflow/notebooks/rules_notebooks/
workflow/Tb_part*
workflow/report/
workflow/git_repo_cloned/
workflow/snakemake_ortholog_groups-before_rules.yaml